html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

p, h1, h2 {
    color: #dddddd;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #303030, #151515);
    overflow: hidden;
}
